html{
    scroll-behavior: smooth;
}

body{
padding: 0;
margin: 0;
}

img{
width: 100%;
height: auto;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
ul,
li {
    margin: 0;
    padding: 0;
} 

a{
text-decoration: none;
cursor: pointer;
}

.modalBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 335px;
height: 435px;
flex-shrink: 0;
border-radius: 9px;
background: #778BC6;
padding-left: 30px;
padding-top: 60px;
padding-right: 30px;

@media (min-width: 1140px) {
    width: 946px;
height: 194px;
flex-shrink: 0;
}
  }

  .modal2{
    width: 335px;
height: 776px;
flex-shrink: 0;
border-radius: 9px;
background: #778BC6;
padding-left: 30px;
padding-top: 60px;
padding-right: 30px;

@media (min-width:1140px) {
    width: 946px;
height: 455px;
flex-shrink: 0;
}
  }
  

  .modalText {
    color: #FFF;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
  }
  .modalContent {
    text-align: center;
  }
  
  .modalTitle{
    color: #FFF;
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
margin-bottom: 20px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #FFF;
    font-size: 25px;
  }
  
  .close:hover {
    color: red;
  }
  
  
  .buttonThumb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

    @media (min-width:1140px) {
        flex-direction: row;
        margin-top: 10px;



    }

  }


  .leftButton{
text-align: center;
font-family: "Montserrat", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.5px;
width: 245px;
height: 56px;
flex-shrink: 0;
border-radius: 8px;
background: #F4C078;
color: #FFF;
border: none;
cursor: pointer;
  }

  .rightButton{
    color: #778BC6;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.5px;
    width: 245px;
height: 56px;
flex-shrink: 0;
border-radius: 8px;
background: #FFF;
border: none;
cursor: pointer;
  }

  .checkbox{
    border: none;
    cursor: pointer;
    width: 30px;

  }


  .checkboxThumb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
margin-top: 20px;
    @media (min-width:1140px) {
        flex-direction: row;
        gap: 20px;
    }
  }

  .secondButtonThumb{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  .checkboxInnerThumb{
    width: 184px;
height: 56px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid #FFF;
background: #778BC6;
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 15px;
  }

  .checkboxText{
    color: #FFF;
font-family: "Montserrat",sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
letter-spacing: 0.5px;
margin-left: 10px;
cursor: pointer;
  }