html{
    scroll-behavior: smooth;
}

body{
padding: 0;
margin: 0;
}

img{
width: 100%;
height: auto;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
ul,
li {
    margin: 0;
    padding: 0;
} 

a{
text-decoration: none;
cursor: pointer;
}

.logo{
    width: 54px;
}

.headerButton{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.burgerMenuImage{
    width: 24px;
}

.headerMob{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.cart{
    width: 20px;
}